@charset "UTF-8";

#wrap {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    overflow: hidden;
    width: 100%;
    height: 100%;
    background-color: rgb(52, 53, 65);
    transition: all 0.3s;
}

header {
    /*600px 이하시 숨기기*/
    display: flex;
    flex-flow: column nowrap;
    width: 262px;
    height: 100%;
    background-color: #000;
}


/* nav 전체 설정 */
header>nav {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    position: relative;
    padding-top: 6px;
    padding-left: 12px;
    width: max-content;
    line-height: 60px;
    background-color: #000;
}


/* new chat btn */
header>nav>.new {
    display: block;
    position: fixed;
    width: 260px;
    background-color: #000;

}

header>nav>.new>h1 {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    position: fixed;
    padding-top: 3px;
    height: 3rem;
    line-height: 2rem;
    /* padding-left: 5px; */
    /* padding-right: 19px; */
    background-color: #000;

}

#new_text {
    margin-left: 5px;
    margin-right: 85px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 14px;
    font-weight: 500;
    height: 44px;
    line-height: 44px;
}

header>nav>.new>h1>.new_chat:hover {
    background-color: rgb(33, 33, 33);
    border-radius: 8px;
}

header>nav>.new>h1>.new_chat {
    display: flex;
    /* padding: 0.2rem 0.5rem 0.4rem 0.5rem; */
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
    /* padding-top: 3px;
    padding-bottom: 5px; */
    padding-right: 7px;
    background-color: #000;
}


header>nav>.new>h1>.new_chat>div:nth-child(1) {
    display: flex;
    justify-content: center;
    align-content: center;
}

header>nav>.new>h1>.new_chat>div:nth-child(2) {
    display: block;
}

header>nav>.new>h1>.new_chat>div>img {
    filter: invert(1)
}

header>nav>.new>h1>.new_chat>div>#logo {
    padding-left: 8px;
    width: 28px;
    height: 28px;
}

header>nav>.new>h1>.new_chat>div>#edit {
    width: 17px;
    height: 17px;
}


/* Navigator - chating subject box */


/* body 스크롤바 스타일 지정 */

body::-webkit-scrollbar {
    width: 10px;
    height: 70%;
    overflow: hidden;
    border-radius: 5px;
    background-color: rgb(52, 53, 65);
}

body::-webkit-scrollbar-button {
    background-color: transparent;

}

body::-webkit-scrollbar-thumb {
    /* 스크롤바 막대*/
    height: 80px;
    color: transparent;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: rgb(73, 74, 84);
    outline: none;
    border: 8px solid transparent;
    border-radius: 10px;
}

body::-webkit-scrollbar-button:start:decrement,
body::-webkit-scrollbar-button:end:increment {
    display: block;
    background-color: rgb(52, 53, 65);

}


body::-webkit-scrollbar-thumb-track {
    /* 스크롤바 막대를 제외한 부분*/
    box-shadow: none;
    background-color: #000;
}

/* .chat box 스크롤바 설정 */

header>.chat::-webkit-scrollbar {
    width: 10px;
    height: 50px;
    border-radius: 5px;
    background-color: transparent;
}

header>.chat::-webkit-scrollbar-button {
    display: none;
    background-color: transparent;
}

header>.chat::-webkit-scrollbar-track:vertical {
    display: block;
}

header>.chat::-webkit-scrollbar-track:horizontal {
    display: none;
}

header>.chat::-webkit-scrollbar-thumb-track {
    height: 200px;
}

header>.chat::-webkit-scrollbar-thumb {
    /* 스크롤바 막대*/
    color: transparent;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: rgb(33, 33, 33);
    outline: none;
    border: 8px solid transparent;
    border-radius: 15px;
}

header>.chat::-webkit-scrollbar-button:start:decrement {
    display: block;
    height: 0px;
    background-color: transparent;
}

header>.chat::-webkit-scrollbar-button:end:increment {
    display: block;
    height: 42px;
    background-color: transparent;

}

/* .chat 내부 요소설정 */


/* header > nav > .chat > span {
    margin-left: 10px;} */

header>.chat {
    display: flex;
    flex-flow: column nowrap;
    overflow-x: hidden;
    overflow-y: scroll;
    width: 250px;
    height: 80%;
    padding-top: 50px;
    margin-left: 12px;
}

header>.chat>.box>div {
    display: block;
    height: 40px;
    margin-left: 1px;
}

header>.chat>.box::after {
    height: 30px;
    line-height: 30px;
    content: '\00a0';
    /*공백넣기*/
}

header>.chat>.box>h2 {
    color: rgb(126, 126, 126);
    margin-top: 5px;
    height: 35px;
    line-height: 35px;
    text-indent: 6px;
    font-size: 12px;
    font-weight: 400;
}

header>.chat>.box>div>a {
    padding: 5px 140px 5px 6px;
    height: 30px;
    line-height: 30px;
    font-size: 15px;
    font-weight: 300;
    border-radius: 3px;
}

header>.chat>.box>div>a:hover {
    background-color: rgb(33, 33, 33);
    border-radius: 8px;
}

/* nav 아래 user info  */

header>.user {
    /* display: none; */
    /* display: block; */
    position: fixed;
    left: 0;
    bottom: 0%;
    padding: 8px;
    width: 230px;
    height: 120px;
    background-color: #000;
}

header>.user>div {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

header>.user>div>a {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    padding: 6px 110px 10px 6px;
    width: max-content;
    height: fit-content;
    background-color: #000
        /* rgb(33, 33, 33); */
}

header>.user>div:nth-child(2)>a {
    padding: 6px 70px 10px 6px;
}

header>.user>div>a>img {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

header>.user>.upgrade>a>img {
    filter: invert(1);
}

header>.user>.upgrade>a>span {
    display: inline-block;
}

header>.user>.info>a>img {
    filter: invert(1);
    border-radius: 50%;
}

header>.user>div>a {
    border-radius: 10px;
}

header>.user>div>a:hover {
    background-color: rgb(33, 33, 33);
}

header>.user>.upgrade>a>p {
    height: fit-content;
    line-height: 15px;
}

header>.user>.upgrade>a>p:nth-child(1) {
    font-weight: 600;
}

header>.user>.upgrade {
    height: 50%;
}

header>.user>.info {
    height: 50%;
}

header>.user>.info>a>p {
    padding-right: 30px;
}

header>.user>.info>a>p>strong {
    line-height: 30px;
}

/* main */
main {
    display: block;
    position: relative;
    margin: 0 auto;
    width: 100%;
}

main>.topView {
    width: 150px;
    height: 30px;
    cursor: pointer;
    line-height: 30px;
    margin: 10px 0px 0px 10px;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 10px;
    border-radius: 8px;
}

main>.topView:hover {
    background-color: rgb(47, 48, 58);
}

main>.topView>h2 {
    margin: 0 auto;
}

main>.topView>h2>span {
    color: #cfcfcf;
}

main>.topView>h2>.underarrow {
    display: inline;
    position: relative;
}

main>.topView>h2>.underarrow>.leftside {
    display: inline-block;
    position: absolute;
    top: 15px;
    left: 5px;
    width: 7px;
    height: 0px;
    border: 2px solid;
    border-radius: 5px;
    border-color: rgb(130, 130, 130);
    transform: rotate(215deg);
    content: "";
}

main>.topView>h2>.underarrow>.rightside {
    display: inline-block;
    position: absolute;
    top: 15px;
    left: 12px;
    width: 7px;
    height: 0px;
    border: 2px solid;
    border-radius: 5px;
    border-color: rgb(130, 130, 130);
    transform: rotate(325deg);
    content: "";
}

main>.version {
    /* display: none;  h2 click시 display:static h2 호버옵션 고정*/
    display: none;
    position: absolute;
    margin-top: 8px;
    margin-left: 8px;
    width: 400px;
    height: 190px;
    background-color: rgb(32, 33, 35);
    border-radius: 8px;
    z-index: 800;
}
main > .topView:hover + .version{
    display: block;
}

main>.version>p {
    font-size: 12px;
}


main>.version>.v35 {
    cursor: pointer;
    height: 40px;
    margin: 7px 7px 0px 7px;
    padding: 10px 55px 10px 35px;
    border-radius: 8px;
    /* background-color: yellowgreen; */
}

.v35icon {
    position: absolute;
    left: 13px;
    top: 25px;
    width: 20px;
    height: 25px;
    filter: invert();
}
.checkbox {
    position: absolute;
    right: 20px;
    top: 30px;
    width: 20px;
    height: 20px;
}

.chckbin {
    top:110px;
}

.uptoplus {
    position: absolute;
    left: 40px;
    bottom: 10px;
    width: 310px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    font-weight: 500;
    border-radius: 8px;
    background-color: rgb(171, 104, 255);
}

main>.version>.v35:hover {
    background-color: rgb(43, 44, 45);
}
main>.version>.v4:hover {
    background-color: rgb(43, 44, 45);
}


main>.version>.v4 {
    cursor: pointer;
    height: 112px;
    margin: 0 7px 0px 7px;
    padding: 0 55px 5px 35px;
    border-radius: 8px;
}

.v4icon {
    position: absolute;
    left: 13px;
    top: 95px;
    width: 20px;
    height: 25px;
    filter: invert();
}





/* section */
main>section {
    padding: 8px;
    margin: 0 auto;
    width: 800px;
    height: 100%;
}

/* hide Btn sett */
main>section>.hideBtn {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    align-content: center;
    position: absolute;
    width: 30px;
    left: 1%;
    top: 50%;
    /* background-color: skyblue; */
}

main>section>.hideBtn>a {
    position: relative;
    top: 2px;
    width: 15px;
    height: 40px;
}

main>section>.hideBtn>a>.arrow {
    padding: 0 3px 0 3px;
    width: 7px;
    height: 24px;
}

main>section>.hideBtn>a>.arrow>#arrow_upper {
    position: absolute;
    top: 8px;
    width: 4px;
    height: 11px;
    border-bottom-left-radius: 3px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    background-color: #fff;

}

main>section>.hideBtn>a>.arrow>#arror_lower {
    position: absolute;
    top: 15px;
    position: absolute;
    width: 4px;
    height: 11px;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    background-color: #fff;
}

/* a:hover 할 경우 head 전역 필터 흐리게 추가할것 */
main>section>.hideBtn>a:hover>.arrow>#arrow_upper {

    transform: rotate(15deg) translateZ(0px);
    transition: all 0.3s;
}

main>section>.hideBtn>a:hover>.arrow>#arror_lower {

    transform: rotate(-15deg) translateZ(0px);
    /* translateY(-0.15rem) translateY(0.15rem) */
    transition: all 0.3s;
}

main>section>.hideBtn>img {
    display: none;
    position: absolute;
    left: 18px;
    width: 110px;
}

/* main > section > .hideBtn  a:hover + img:first-child{
    display: block;
} */
main>section>.hideBtn>a:hover+img {
    display: block;
}

/*  main > content view set */

main>section>.contents {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 75%;
    /* background-color: yellow; */
}

main>section>.contents>span:nth-child(1) {
    display: block;
    width: 80px;
    height: 80px;
    margin-top: 20%;
}

main>section>.contents>span:nth-child(2) {
    display: block;
    height: 50px;
    margin-bottom: 18%;
    line-height: 50px;
    font-size: 22px;
    font-weight: 600;
}

main>section>.contents>span>img {
    width: 100%;
    height: 100%;
    /* filter: invert(); */
}

/* recommand box */
/* ///////테이블 위치 바꾸기  */
table {
    width: 640px;
    height: 170px;
    /* position: absolute; */
    left: -30%;
    border-collapse: separate;
    border-spacing: 10px;
}

td {
    padding-left: 15px;
    cursor: pointer;
    position: relative;
    border-radius: 15px;
    border: 1px solid #797979;
}

td>p {

    width: fit-content;
    font-size: 12px;
}

td>span {
    position: absolute;
    top: 20px;
    right: 20px;
    content: "";
}

td:hover {
    background-color: rgb(64, 65, 79);
}

td:hover>span>.sub_img {
    filter: brightness(0.5);
}




/* chat area */
main>section>.chat_window {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;


}

main>section>.chat_window>.tBox {
    display: flex;
    justify-content: center;
    position: relative;

}

main>section>.chat_window>.tBox>textarea {
    display: flex;
    color: #fff;
    overflow: hidden;
    width: 640px;
    height: 45px;
    line-height: 45px;
    text-indent: 16px;
    font-size: 16px;
    font-weight: 600;
    font-family: sans-serif;
    resize: none;
    background-color: transparent;
    border: 1px solid rgb(115, 116, 132);
    border-radius: 15px;
}

main>section>.chat_window>.tBox>textarea:focus {
    outline: none;
}

main>section>.chat_window>.tBox>textarea+.send {
    width: 24px;
    height: 24px;
    padding: 2px 0;
    position: absolute;
    right: 3%;
    top: 20%;
}


main>section>.chat_window>.tBox>.send>.s_img {
    display: block;
    src: url();
    border: 1px solid rgb(73, 74, 84);
    border-radius: 5px;
}

/* js로 hover 이미지 수정 */

main>section>.chat_window>.tBox>textarea::placeholder {
    font-size: 16px;
    font-weight: 600;
    font-family: sans-serif;
}


main>section>.chat_window>address {
    display: block;
    margin-top: 5px;
    color: rgb(184, 184, 184);
    font-weight: 400;
    text-align: center;
}